*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
	text-align: center;
	background-color: black;	
}

.box{
	background-color: black;	
	width: 80%;
	height: auto;
	margin: auto;
	border-radius: 100px;
}
.frase{
    width: 300px;
    margin: 50px auto;
    text-align: center;
	font-size: 30px;
	color: #fff;
	box-shadow :2px 2px 40px rgba(106, 9, 176,1);
	border-radius: 30px;
	padding-top: 40px;
}